/* Limpar formatações padrões */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #e6e6e6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #0984e3;
    padding: 15px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
/* Layout */
#content{
    width: 100%;
}
#area-logo p{
    color: white;
    margin: 0 0 0 -340px;
    transition: 5s;
}

#area-cabecalho h1, #area-menu{
    text-align: center;
}
#area-logo{
    width: 100%;
}
#area-menu{
    width: 100%;
}


#area-logo, #area-menu{
    padding: 10px;
    box-sizing: border-box;
}

#area-principal{
    width: 85%;
    margin: 0px auto;
    padding: 15px;
}

#area-postagens{
    width: 70%;
    float: left;
}

#area-lateral{
    width: 25%;
    float: right;
}

.postagem p{
    margin-bottom: 10px;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

#rodape{
    clear: both;
    text-align: center;
    background: #ccc;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: #363636;
    box-sizing: border-box;
}

/* Menu */

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #3498db;
}

a:hover, l:hover{
    text-decoration: underline;
    cursor: pointer;
}

l{
    color: #3498db;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #fff;
    padding: 8px 12px;
}

#area-cabecalho a:hover{
    color: #0984e3;
    background: #fff;
    text-decoration: none;
}

/* Formatações em Geral */

h1{
    color: #4e4e4e;
    font-size: 2.5em;
    margin: 0;
}

h2{
    color: #0984e3;
    margin: 0;
    margin-bottom: 15px;
}

h3{
    color: white;
    background: #1e3799;
    padding: 5px;
    margin-bottom: 5px;
    margin: 0;
}

.branco{
    color: white;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.texto-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.em-breve{
    border-bottom: none;
}

img{
    margin-bottom: 10px;
}
@media (max-width: 700px) {
    .conteudo-lateral h3{
        font-size: 14px;
        font-weight: 500;
    }
    .texto-lateral p{
        font-size: 12px;
    }
    .postagem h2{
        font-size: 18px;
    }
    .text-ignore{
        font-size: 12px;
    }
    #area-postagens {
        width: 60%;
    }
    #area-lateral {
        width: 35%;
    }
}
@media (max-width: 600px) {
    .conteudo-lateral h3{
        font-size: 14px;
        font-weight: 500;
    }
    .texto-lateral p{
        font-size: 12px;
    }
    .postagem h2{
        font-size: 18px;
    }
    .text-ignore{
        font-size: 12px;
    }
    #area-postagens {
        width: 60%;
    }
    #area-lateral {
        width: 35%;
    }
    #area-principal{
        width: 95%;
    }
}